/* styles.css */
/* styles.module.css */
:root {
  --primary-clr: #172554;
  --secondary: #79589fd9;

  --secondary-clr: hsl(193, 21%, 92%);
  --brown-clr: #9e1327;
  --gray-clr: #94a3b8;
  --green-clr: #047857;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* Your body styles here */
}
