/* utils for layout */
.commonFlex {
  display: flex;
}
.commonCol {
  display: flex;
  flex-direction: column;
}
.twoGridLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.three-layout-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.four-layout-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.wrap {
  flex-wrap: wrap;
}
/* utils for gap */

.gap-xxs {
  gap: 0.2rem;
}
.gap-xs {
  gap: 0.5rem;
}
.gap-xsm {
  gap: 1rem;
}
.gap-sm {
  gap: 1.5rem;
}
.gap-med {
  gap: 2rem;
}

/*  utils for alignment */

.a-start {
  align-items: flex-start;
}
.a-center {
  align-items: center;
}
.j-center {
  justify-content: center;
}
.jst-sp-bet {
  justify-content: space-between;
}
.js-around {
  justify-content: space-around;
}
.js-evenly {
  justify-content: space-evenly;
}
.padding-sm {
  padding: 1rem;
}
.border-radius-min {
  border-radius: 5px;
}
.img-br-half {
  border-radius: 50%;
}

/*  utils for margin */

.layout-mr {
  margin: 0 2rem;
}
.mr-ssm {
  margin: 0.5rem;
}
.mr-sm-top {
  margin: 0 1rem;
}
.mr-sm-btm {
  margin: 1rem 0;
}
.mr-sm {
  margin: 1rem;
}
.mr-med {
  margin: 2rem;
}
.pd-sm {
  padding: 0.5rem;
}
.pd-med {
  padding: 1.2rem;
}
/*  utils for fonts */

.fs-xs {
  font-size: 14px;
}
.fs-sm {
  font-size: 1rem;
  font-weight: revert;
}
.fs-med {
  font-size: 1.2rem;
  font-weight: 600;
}
.fs-bg {
  font-size: 1.5rem;
  font-weight: 500;
}
.fs-xbg {
  font-size: 1.5rem;
}
.fm-cur {
  font-family: cursive;
}
.a-start {
  align-items: flex-start;
}
.gap-bg {
  gap: 2.5rem;
}
.crousel-img {
  width: 100%;
  height: 30rem;
  position: relative;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.border-gray {
  border: 1px solid var(--gray-clr);
}
.text-primary {
  color: var(--primary-clr);
}
.text-gray {
  color: var(--gray-clr);
}

.font-sm {
  font-size: 14px;
}

.btn-primary {
  background-color: var(--primary-clr);
  color: whitesmoke;
  border-radius: 5px;
  padding: 5px 8px;
  border: none;
  border: 1px solid var(--primary-clr);
}
.btn-primary:focus {
  outline: none;
}
.btn-primary:hover {
  cursor: pointer;
  background-color: var(--secondary);
}

.btn-secondary {
  background-color: #f8fafc;
  color: var(--primary-clr);
  border-radius: 5px;
  padding: 5px 8px;
  border: 2px solid var(--primary-clr);
}
.btn-secondary:hover {
  cursor: pointer;
  border: 2px solid var(--primary-clr);
  background-color: #f1f5f9;
}

.horizontal-line {
  position: relative;
  width: 100%;
  height: 1px; /* Set the height of the horizontal line */
  background-color: var(--gray-clr); /* Set the color of the line */
  margin: 10px 0; /* Adjust margin as needed */
}

.horizontal-line::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px; /* Set the height of the pseudo-element to match the line */
  background-color: var(--gray-clr); /* Set the color of the pseudo-element */
}
.navContainer {
  padding: 1.2rem 0;
  align-items: center;
  position: sticky;
  top: 0;
  color: white;
  z-index: 99;
  background-color: var(--primary-clr);
  box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.08);
}
.dashboard-container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  margin: 2rem 0;
  gap: 2rem;
}
.container {
  display: flex;
  flex-direction: column; /* Vertical layout: top and bottom */
  height: 80vh; /* 100% viewport height */
  max-width: 100%; /* Prevent container overflow */
  overflow: hidden;
}
/* user card classes */
.user-card {
  padding: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.user-image {
  border-radius: 50%;
  max-width: 100px;
}

.user-name {
  font-size: 18px;
  margin-top: 10px;
}

.user-number {
  font-size: 16px;
  color: #666;
  margin-top: 5px;
}

/* carousal */
.carousel {
  width: 100%;
  max-width: px; /* Adjust the max-width as needed */
  margin: 0 auto;
  flex: 1; /* Make the top section grow to fill available vertical space */
  max-height: 50%; /* Limit the top section to 50% of the container height */
  overflow: hidden;
}

.carousel img {
  width: 100%;
  height: auto;
  position: relative;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.chart-container {
  display: flex;
  flex: 1; /* Make the bottom section grow to fill available vertical space */
  max-height: 50%; /* Limit the bottom section to 50% of the container height */
  /* overflow: hidden; */
  width: 100%;
}

/* Carousel */
.img-max-width{
  max-width: 700px;
}
.img-border {
  border-radius: 5px;
}

/* box shadow */
.box-shadow-one {
  box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

/* login container */
.login-container {
  min-height: 80vh;
}
